<html xmlns="http://www.w3.org/1999/xhtml" ng-app="testingProject"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Untitled Document</title>

   
    <link rel="stylesheet" href="css/lib/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="css/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
	<link href="css/styleseet.css" rel="stylesheet">
	<script src="library/angular.min.js"></script>
	<script src="js/lib/jquery/jquery.min.js"></script>
	<script src="js/bootstrap.js"></script>

</head>

<body ng-controller="formCtrl">



<div class="come-form-blk-first">
    <div class="col-md-4">
        <div class="form-group">
          <label>UserName</label>
          <input type="text" class="form-control" ng-model="username" placeholder="User Name">
        </div>
         <div class="form-group">
          <label>Password</label>
          <input type="text" class="form-control" ng-model="password" placeholder="Password">
        </div>
    </div>
</div>

     <div class="col-md-12 button-blk">
       <button type="submit" class="btn btn-primary" ng-click="logiFun();">Save</button>
       <button type="submit" class="btn btn-primary">Registration</button>
      </div>



<script src="formCtrl.js"></script>
<script src="formService.js"></script>




</body></html>